@font-face { font-family: ProductSansR; src: url('/stylesheets/ProductSansReg.ttf'); }

body, html{
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	font-size: 16px;
	background-color: #B2B2B2;
	color: white;
	font-family: 'ProductSansR';
}

::-webkit-scrollbar {
    display: none;
}

#header{
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
	position: fixed;
	left:0;
	top: 0;
	padding: 0 2.5em;
}

#title {
	font-size: 1.8em;
	margin: 0 0.5em;
}

button{
	font-size: 1em;
	margin: 0 0.1em;
	background-color: white;
	width: 1.5em;
	height: 1.5em;
	text-decoration: none;
	border-style: none;
	color: #B2B2B2;
	font-weight: bold;
	text-align: center;
}
button:focus {
	outline:0;
}

input{
	font-size: 1em;
	line-height: 1.5em;
	width: 20%;
	margin: 0 0.5em;
}
input:focus {
	outline: 0;
}

.selected{
	margin-bottom: -0.5em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-top: 0.5em;
	box-shadow:0em 0em 1em rgba(247,239,247,0.95);
}


#container{
	height: 100%;
	background-color: #B2B2B2;
	display: flex;
	align-items: center;
}
#fences{
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y:hidden;
	padding-bottom: 20px;
	padding-top: 10px;
}

img{
	width: 20%;
	display: inline-block;
	box-sizing: border-box;
	/*cursor:  url(/images/cursor1.png)60 0, auto;
	*/
	-webkit-transform: translateZ(0);
	-webkit-transform: translate3d(0,0,0);
}

#about{
	background-color: #FF1919;
	width: 100%;
	height: 5%;
	text-align: center;
	font-size: 1.3em;
	position: fixed;
	left:0;
	bottom: 0;
}

#loader{
	margin-left: 50%;
	height: 30px;
	width: 30px;
}

@media (max-width: 770px) {
  #menu {
    display: none;
  }
}
